body {
  margin: 0;
  background-color: pink;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 50px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  letter-spacing: 4px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  white-space: nowrap;
  /* font-weight: bolder; */
}

.sound-con {
  text-align: center;
}
.btn {
  padding: 30px;
  background-color: white;
  border: none;
  margin: 10px;
  font-size: 30px;
  min-width: 200px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  background-image: url("/images/image.png");
  background-size: cover;
  color: rgb(255, 255, 255);
  font-family: cursive;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover {
  color: rgb(128, 0, 102);
}

.btn:active {
  background-size: 105%;
}
